/* ==========================
   VARIABLES
   ========================== */
$primary: #033043; // Cambiar el color primario
$warning: #FDA521; // Cambiar el color secundario
$success: #086047;
$info: #94deec;
$light: #fafaf5;
$border-radius: 1.5rem;

/* ==========================
      ROOT VARIABLES
      ========================== */
:root {
    --border-radius-md: 20px;
    --border-radius-sm: 10px;
    --bg-primary-light: #e3f7e4;
}

/* ==========================
    IMPORTS
========================== */
@import "../node_modules/bootstrap/scss/bootstrap";

/* ==========================
    GLOBAL STYLES
========================== */
body {
    min-height: 90vh;
}

section {
    min-height: 80vh;
}

li {
    list-style: none;
}

td>i.bi {
    cursor: pointer;
}

/* ==========================
        UTILITIES
========================== */
.mx-500px {
    max-width: 500px;
}

.border-sm {
    border-radius: 10px;
}

.mr-2 {
    margin-right: 0.5rem;
}

.bg-notifications {
    background-color: rgb(208, 163, 68);
}

.bg-light-grey {
    background-color: #e2e2e2;
}

.bg-primary-light {
    background-color: var(--bs-info);
}

.rounded-md {
    border-radius: var(--border-radius-md);
}

.bg-unfocus {
    backdrop-filter: blur(3px);
}

.btn-top-right-blur {
    border: none;
    border-top-right-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-sm);
    backdrop-filter: blur(5px);
    background-color: rgba(219, 219, 219, 0.11) !important;
}

/* ==========================
    LAYOUT STYLES
========================== */
#jumbotron-main-image {
    background-image: url("../media/coffee1.jpg");
    background-size: cover;
    height: 20rem;
}

.jumbotron-minnor-image {
    background-image: url("../media/coffee2.jpg");
    background-size: cover;
    height: 10rem;
}

.custom-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../media/dummy.png');
    min-height: 10rem;
}

.imagen {
    position: relative;
    border-radius: var(--border-radius-md);
    z-index: 1;
    background-size: cover;
    min-height: 15rem;
    min-width: 25rem;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5);
}

/* ==========================
    COMPONENT STYLES
========================== */
.badge.rounded-pill.bg-danger {
    position: absolute;
    right: 0px;
    font-size: 8px;
}

.nav-list-notification {
    border-left: 3px solid transparent;
    padding: 0.5rem;
}

.nav-list-notification.active {
    list-style: none;
    border-left: 3px solid rgb(58, 145, 245);
    background-color: #f0f0f0;
}

.classic-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #033043;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.bi-heart-fill {
    cursor: pointer;
}

/* ==========================
    ANIMATIONS
========================== */
.fadeup {
    animation: fadeup 2s ease;
}

.fadeleft {
    animation: fadeleft 2s ease;
}

.faderight {
    animation: faderight 2s ease;
}

.delay-1000 {
    animation-delay: 1s;
}

.delay-1500 {
    animation-delay: 1.5s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes fadeleft {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes faderight {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

/* ==========================
    MEDIA QUERIES
========================== */
@media (min-width: 768px) {
    .rounded-md-left {
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-top-right-radius: 0rem !important;
        border-bottom-right-radius: 0rem !important;
    }
}

@media (max-width: 768px) {
    .flex-md-reverse {
        flex-direction: column-reverse;
    }
}