/* ==========================
   VARIABLES
   ========================== */
$primary: #033043; // Cambiar el color primario
$warning: #FDA521; // Cambiar el color secundario
$success: #086047;
$info: #94deec;
$light: #fafaf5;
$border-radius: 1.5rem;
$form-check-input-width: 1.25em;

/* Chatbox */

$text-1: #333;
$text-2: #666;
$text-3: #999;
$line: #ccc;
$time-bg: #eee;
$background: #f7f7f7;


/* ROOT VARIABLES */
:root {
    --border-radius-md: 20px;
    --border-radius-sm: 10px;
    --bg-primary-light: rgb(227, 247, 228);
    --bs-light-info: rgb(198, 236, 243);
    --bs-light-danger: rgb(243, 181, 181);
    --bs-light-warning: rgb(255, 245, 198);
    --bs-light-success: rgb(181, 243, 186);
}

/* IMPORTS */
@import "../../../../node_modules/bootstrap/scss/bootstrap";

/* GLOBAL STYLES */


html {
    overflow-x: hidden;
    width: 100%;

    body {
        min-height: 90vh;

        section {
            min-height: 80vh;
        }
    }
}

li {
    list-style: none;
}

td>i.bi {
    cursor: pointer;
}

/* UTILITIES */
.mx-500px {
    max-width: 500px;
}

.border-sm {
    border-radius: 10px;
}

.mr-2 {
    margin-right: 0.5rem;
}

.rounded-md {
    border-radius: var(--border-radius-md);
}

.bg-unfocus {
    backdrop-filter: blur(3px);
}

/* LAYOUT STYLES */
#jumbotron-main-image {
    background-image: url("../media/coffee1.jpg");
    background-size: cover;
    height: 20rem;
}

.jumbotron-minnor-image {
    background-image: url("../media/coffee2.jpg");
    background-size: cover;
    height: 10rem;
}

/* COMPONENT STYLES */
.classic-loader {
    border: 16px solid #f3f3f36c;
    border-radius: 50%;
    border-top: 16px solid #033043;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1.2s linear infinite, grow-shrink 1.2s ease-in-out infinite;
}

/* Animación de rotación */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Animación de crecimiento/disminución del sector */
@keyframes grow-shrink {

    0%,
    100% {
        border-width: 4px;
    }

    50% {
        border-width: 12px;
    }
}

/* Chatbox */
/* ANIMATIONS */
.fadeup {
    animation: fadeup 2s ease;
}

.fadeleft {
    animation: fadeleft 2s ease;
}

.faderight {
    animation: faderight 2s ease;
}

.delay-1000 {
    animation-delay: 1s;
}

.delay-1500 {
    animation-delay: 1.5s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes fadeleft {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes faderight {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}