<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/app.css">
    <link rel="stylesheet" href="style.css">
    <script src="../../assets/js/index.js" type="module"></script>
    <script src="./index.js"></script>
</head>

<body class="bg-light" style="min-height: 100vh;">
    
</body>

</html>