@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --primary-color: theme('colors.gray.800');
    --primary-hover-color: theme('colors.gray.700');
    --secondary-color: theme('colors.gray.500');
    --secondary-hover-color: theme('colors.gray.400');
    --accent-color: theme('colors.gray.500');
    --light-color: theme('colors.gray.100');
    --light-hover-color: theme('colors.gray.200');
    --dark-color: theme('colors.gray.800');
}

/* Botones */
@layer components {
    button {
        @apply cursor-pointer transition-all;
    }

    .btn {
        @apply w-full inline-flex justify-center rounded-full border shadow-sm px-4 py-2 text-base font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto;
    }

    .btn-primary {
        @apply border-[var(--light-color)] bg-[var(--primary-color)] hover:bg-[var(--primary-hover-color)] text-[var(--light-color)] focus:ring-[var(--primary-color)];
    }

    .btn-secondary {
        @apply border-gray-300 bg-white text-gray-700 hover:bg-gray-50 focus:ring-indigo-500;
    }

    .btn-danger {
        @apply border-transparent bg-red-600 text-white hover:bg-red-700 focus:ring-red-500;
    }

    .btn-overlay {
        @apply absolute opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out;
    }
}

/* Tarjeta */
@layer components {
    .card {
        @apply rounded-lg shadow;
    }

    .card-center {
        @apply flex items-center justify-center relative cursor-pointer;
    }

    .card-image {
        @apply rounded-lg cursor-pointer md:min-h-[30vw] min-h-[20vw];
    }
}

/*Fade effects*/
@layer components {
    .fade-in-out {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .fade-in-out.active {
        opacity: 1;
    }

    .fade-up {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .fade-up.active {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Navbar */
.navbar {
    @apply p-4;
}
.blur-sm {
    backdrop-filter: blur(5px);
}

.navbar-primary {
    @apply bg-amber-700
}

.navbar-container {
    @apply container mx-auto flex md:justify-start justify-between gap-4 items-center;
}

.navbar-brand {
    @apply text-white text-xl font-bold transition duration-300 ml-4 mx-12;
}

.navbar-links {
    @apply hidden md:flex space-x-4;
}

.navbar-item {
    @apply text-white hover:text-white;
}

.navbar-item-sm {
    @apply block px-4 py-2 text-sm;
}

.navbar-item {
    position: relative;
}

.navbar-item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.3s;
}

.navbar-item:hover::after {
    width: 100%;
}

.navbar-item:hover::after,
.navbar-item.active::after {
    width: 100%;
}

.img-hover {
    overflow: hidden;
    position: relative;
}

.img-hover img {
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-hover:hover img {
    transform: scale(1.1);
}

.modal-container {
    @apply fixed z-10 inset-0 overflow-y-auto;
}

.modal-center {
    @apply flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:p-0;
}

.modal-backdrop {
    @apply fixed inset-0 bg-gray-500 bg-gray-500/60 transition-opacity;
}

.modal-align {
    @apply flex items-center justify-center h-screen;
}

.modal-content {
    @apply inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle w-full sm:max-w-4xl;
}

.modal-body {
    @apply bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4;
}

.modal-footer {
    @apply px-4 py-3 sm:px-6 sm:flex sm:flex-row gap-3;
}


.mobile-menu {
    @apply overflow-hidden max-h-0 md:hidden;
}

.card {
    @apply bg-white shadow-lg rounded-lg overflow-hidden;
}

.bg-image {
    background-image: url('../img/coffee1.webp');
}

.slide>img {
    max-height: 150px;
}

.mh-80 {
    max-height: 50vh;
}

.transition-height {
    transition: max-height 0.3s ease-in-out;
}

.max-h-0 {
    max-height: 0;
}

.max-h-full {
    max-height: 1000px;
}