@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --primary-color: theme('colors.gray.800');
    --primary-hover-color: theme('colors.gray.500');
    --secondary-color: theme('colors.gray.500');
    --secondary-hover-color: theme('colors.gray.400');
    --accent-color: theme('colors.gray.500');
    --light-color: theme('colors.gray.100');
    --light-hover-color: theme('colors.gray.400');
    --text-light-hover-color: theme('colors.gray.200')
    --text-dark-hover-color: theme('colors.gray.800')
    --dark-color: theme('colors.gray.800');
}

/* Navbar */
@layer components {

    .navbar {
        @apply p-4;
    }

    .blur-sm {
        backdrop-filter: blur(5px);
    }

    .navbar-item {
        @apply relative text-white hover:text-white;
    }

    .navbar-item::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background: white;
        transition: width 0.3s;
    }

    .navbar-item:hover::after {
        width: 100%;
    }

    .navbar-item:hover::after,
    .navbar-item.active::after {
        width: 100%;
    }
}

/* Botones */
@layer components {
    button {
        @apply cursor-pointer transition-all;
    }

    .btn {
        @apply mt-2 px-4 py-2 rounded;
    }

    .btn-primary {
        @apply border-[var(--light-color)] bg-[var(--primary-color)] hover:bg-[var(--primary-hover-color)] 
            text-[var(--light-color)] hover:text-[var(--light-color)]
            focus:ring-[var(--primary-color)] dark:bg-[var(--light-color)] 
            dark:hover:bg-[var(--light-hover-color)] dark:text-[var(--dark-color)] dark:hover:text-[var(--dark-color)];
    }

    .btn-secondary {
        @apply border-gray-300 bg-white text-gray-700 hover:bg-gray-50 focus:ring-indigo-500;
    }

    .btn-danger {
        @apply border-transparent bg-red-600 text-white hover:bg-red-700 focus:ring-red-500;
    }

    .btn-overlay {
        @apply absolute opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out;
    }
}

/* Tarjeta */
@layer components {
    .card {
        @apply rounded-lg shadow;
    }

    .card-center {
        @apply flex items-center justify-center relative cursor-pointer;
    }

    .card-image {
        @apply rounded-lg cursor-pointer md:min-h-[30vw] min-h-[20vw];
    }
}

/*Fade effects*/
@layer components {
    .fade-in-out {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .fade-in-out.active {
        opacity: 1;
    }

    .fade-up {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .fade-up.active {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Images */
@layer components {
    .img-hover {
        overflow: hidden;
        position: relative;
    }
    .img-hover img {
        object-fit: cover;
        transition: transform 0.3s ease;
    }
    .img-hover:hover img {
        transform: scale(1.1);
    }
}

/*Modales*/
@layer components {
    .overlay {
        @apply fixed inset-0 bg-[#69728463] backdrop-blur-sm flex items-center justify-center z-50;
    }
}

@layer utilities {
    .animate-popup-bounce {
        animation: popupBounce 0.4s cubic-bezier(0.25, 1.25, 0.5, 1);
    }

    @keyframes popupBounce {
        0% {
            transform: scale(0.8);
            opacity: 0;
        }

        60% {
            transform: scale(1.05);
            opacity: 1;
        }

        80% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(1);
        }
    }

    .animate-fade-scale-out {
        animation: fadeScaleOut 0.2s forwards ease-in;
    }

    @keyframes fadeScaleOut {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0.8);
        }
    }
}

@layer utilities {
    .animate-bounce {
        animation: bounce 0.4s cubic-bezier(0.25, 1.25, 0.5, 1);
    }

    @keyframes bounce {
        0% {
            transform: scale(0.8);
        }

        60% {
            transform: scale(1.05);
        }

        80% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(1);
        }
    }

    .animate-fade-scale-out {
        animation: fadeScaleOut 0.2s forwards ease-in;
    }

    @keyframes fadeScaleOut {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0.8);
        }
    }
}


.mobile-menu {
    @apply overflow-hidden max-h-0 md:hidden;
}

.max-h-0 {
    max-height: 0;
}

.tooltip {
    @apply absolute top-1/2 left-full -translate-y-1/2 ml-2 z-10 bg-gray-800 dark:bg-gray-200 text-white dark:text-gray-800 px-3 py-2 text-sm rounded whitespace-nowrap transition-opacity duration-300 ease-in-out;
}

.tooltip::before {
    content: '';
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    @apply absolute border-t-transparent border-r-[var(--primary-color)] dark:border-r-[var(--light-color)] 
        border-b-transparent border-l-transparent border-solid border-4;
}

.form-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.form-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}